name: Docker CI/CD Multi-Branch Pipeline

permissions:
  contents: write
  pull-requests: read
  security-events: write

on:
  pull_request:
    branches: [main, release]
    types:  [opened, synchronize, reopened]
    
jobs:
  call-unit-tests:
    name: Unit Tests
    uses: riti-bhandari/CICD_demoapp/.github/workflows/unit-test.yml@main
    with:
      working-directory: .


  call-security-checks: 
    name: Security code checks
    uses: riti-bhandari/CICD_demoapp/.github/workflows/Security-checks.yml@main
    with:
      working-directory: .

  docker-build-scan:
    name: Docker Build & Trivy Scan
    needs: [call-unit-tests, call-security-checks]
    uses: riti-bhandari/CICD_demoapp/.github/workflows/docker-build.yml@main
    with:
      image-name: my-app
      image-tag: ci
      dockerfile-path: Dockerfile
      build-context: .

  release:
    name: Tag and Push Docker Image
    uses: riti-bhandari/CICD_demoapp/.github/workflows/tag-push.yml@main
    secrets:
      DOCKERHUB_USERNAME: ${{secrets.DOCKERHUB_USERNAME}}
      DOCKERHUB_TOKEN: ${{secrets.DOCKERHUB_TOKEN}}
    with:
      debug: true
      image-name: my-app
      build-context: .
      dockerfile-path: Dockerfile
  

  # deploy:
  #   name: Deploy to Azure VM
  #   if: github.event_name == 'pull_request' && github.event.pull_request.merged == true
  #   needs: [release]
  #   uses: riti-bhandari/CICD_demoapp/.github/workflows/deploy.yml@main
  #   with:
  #     image-name: ${DOCKERHUB_USERNAME}/my-app
  #     image-tag: ${{ needs.release.outputs.new-tag }}
  #     container-name: my-app
  #     app-port: 8080
  #   secrets:
  #     VM_SSH_KEY: ${{ secrets.AZURE_VM_SSH_KEY }}
  #     vm-host: ${{ secrets.AZURE_VM_HOST }}
  #     vm-user: ${{ secrets.AZURE_VM_USER }}

    
