name: DemoApp CICD pipeline deploy on GCP

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    #1 checkout the source code
    - name: Checkout repository
      uses: actions/checkout@v4

    #2 Read version file
    - name: tag image
      id: version
      run: |
        TAG="${GITHUB_REF#refs/tags/}"
        echo "tag=$TAG" >> $GITHUB_OUTPUT

    #2 Login to docker hub
    - name: Login to dockerhub
      uses: docker/login-action@v3
      with:
        username: ${{secrets.DOCKERHUB_USERNAME}}
        password: ${{secrets.DOCKERHUB_TOKEN}}
      
    #3 Build docker image
    - name: Build Docker Image
      run: |
          docker build -t ${{secrets.DOCKERHUB_USERNAME}}/java-app:ci .
    #4 Push image to dockerhub
    - name: Push Docker Image to Registry
      run: |
          docker push dockertech28/java-app:${{GITHUB_OUTPUT}}






