name: Docker CI Multi-Branch Pipeline

permissions:
  contents: write
  pull-requests: read
  security-events: write

on:
  pull_request:
    branches: [main, release]
    types: [closed]

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: |
          chmod +x test-scripts/unit-test.sh
          ./test-scripts/unit-test.sh

  lint:
    name: Lint Checkstyle
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
      - run: mvn checkstyle:check

  spotbugs:
    name: SpotBugs Scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: mvn spotbugs:check

  gitleaks:
    name: Secret Scan (Gitleaks)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  docker-build-scan:
    name: Docker Build & Trivy Scan
    runs-on: ubuntu-latest
    needs: [unit-tests, lint, spotbugs, gitleaks]

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t my-app:ci .

      - name: Trivy Scan
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: my-app:ci
          exit-code: 1
          severity: HIGH,CRITICAL

  release:
    name: Tag & Push Docker Image
    if: github.event_name == 'push'
    needs: docker-build-scan
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Fetch git tags
        run: git fetch --tags

      - name: Decide version bump
        run: |
          LAST_TAG=$(git describe --tags --abbrev=0 2>/dev/null || echo "v0.0.0")
          VERSION=${LAST_TAG#v}
          IFS='.' read -r MAJOR MINOR PATCH <<< "$VERSION"

          BRANCH="${GITHUB_REF##*/}"

          if [[ "$BRANCH" == "release" ]]; then
            MINOR=$((MINOR + 1))
            PATCH=0
            NEW_TAG="v$MAJOR.$MINOR.$PATCH"
            echo "NEW_TAG=$NEW_TAG" >> $GITHUB_ENV
          fi

      - name: Push tag
        if: env.NEW_TAG != ''
        run: |
          git config user.name "riti-bhandari"
          git config user.email "riti.bhandari16@gmail.com"
          git tag -a "$NEW_TAG" -m "Release $NEW_TAG"
          git push origin "$NEW_TAG"

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push image
        if: env.NEW_TAG != ''
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/my-app:${NEW_TAG#v} .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/my-app:${NEW_TAG#v}
