name: DemoApp CICD pipeline deploy on GCP

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    #1 checkout the source code
    - name: Checkout repository
      uses: actions/checkout@v4
      
    #2 Login to docker hub
    - name: Build Docker Image
      run: |
          docker build -t java-app:ci .



