name: Docker CI with Semantic Versioning

permissions:
  contents: write
  pull-requests: read

on:
  pull_request:
    types: [closed]
    branches:
       - release

jobs:
  ci:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      # 1 Checkout code (required for git tags)
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # IMPORTANT: fetch tags

      # 2️ Fetch all tags
      - name: Fetch git tags
        run: git fetch --tags

      # 3️ Generate semantic version
      - name: Get latest tag
        run: | 
               LAST_TAG=$(git describe --tags --abbrev=0 2>/dev/null || echo "v0.0.0")
               echo "LAST_TAG=$LAST_TAG" >> $GITHUB_ENV

      - name: Decide version bump
        run: |
          VERSION=${LAST_TAG#v}
          IFS='.' read -r MAJOR MINOR PATCH <<< "$VERSION"

          SOURCE_BRANCH="${{ github.event.pull_request.head.ref }}"
          TARGET_BRANCH="${{ github.event.pull_request.base.ref }}"

          echo "Source: $SOURCE_BRANCH → Target: $TARGET_BRANCH"

          if [[ "$SOURCE_BRANCH" == "hotfix/*" ]]; then
            PATCH=$((PATCH + 1))
          elif [[ "$SOURCE_BRANCH" == "main" ]]; then
            MINOR=$((MINOR + 1))
            PATCH=0
          else
            echo "Unsupported source branch: $SOURCE_BRANCH"
            exit 1
          fi

          NEW_VERSION="$MAJOR.$MINOR.$PATCH"
          NEW_TAG="v$NEW_VERSION"

          echo "NEW_VERSION=$NEW_VERSION" >> $GITHUB_ENV
          echo "NEW_TAG=$NEW_TAG" >> $GITHUB_ENV

      - name: Configure git user
        run: |
           git config user.name "riti-bhandari"
           git config user.email "riti.bhandari16@gmail.com"

      # 4 Create git tag (only once per commit)
      - name: Create & push tag
        run: |
          git tag -a "$NEW_TAG" -m "Release $NEW_TAG"
          git push origin "$NEW_TAG"
          echo "v${NEW_TAG}"

      - name: Login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}

      # 5️ Build Docker image (no dependency install here)
      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/my-app:${NEW_VERSION} .

      # 6️ (Optional)Push Docker image to Docker Hub  
      - name: Push Docker image  
        run: |  
           docker push ${{ secrets.DOCKERHUB_USERNAME }}/my-app:${NEW_VERSION}
           